*{margin: 0;padding:0;box-sizing: border-box;font-family: 'Poppins', sans-serif;}
.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}
.content{
    display: flex;
    justify-content: space-between;
    max-height:300px;
    overflow-y: hidden;
}
.left{
    width: 200px;
}
.right{
    width: calc(100% - 220px);
    height: 210px;
}
img{
    width: 100%;
    height: 100%;
}
/* nav */
.nav{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap:5px;
}
.nav_item{
    padding: 10px 20px;
    background-color: rgba(30,39,46,.2);
    font-size: 12px;
    font-weight: 500;

}
/* content box */
.content_box{
    /* height: 210px; */
    height: 211px;
    width: 100%;

}
.active{
    background-color: #ff7675;
    color:#fff
}
.first_item{
    height: 209px;
}

.last_item{
    /* height: 209px; */
}
